/* Reseteo */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    
}

a:link {
    text-decoration: none;
}

/* Encabezado */

.bg-body-tertiary {
padding-left: 2%;
padding-right: 2%;
}

.navbar .navbar-expand-lg .bg-body-tertiary {
    justify-content: space-between;
}

.logo{
    min-width: 110px;
    max-width: 260px;
}

.navbar-expand-lg .navbar-nav .nav-link 
{
    font-size: 1rem;
    font-family:"Montserrat", "sans-serif";
    font-weight: 400;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    text-decoration:none;
    color: rgb(222, 171, 253);
    font-weight: 400;
    font-style:oblique;
    text-decoration:underline dotted 2px;
}

.navbar-toggler {
    border: solid 1.5px #a1a1a1;
    padding: 0.3rem;
}

.navbar-toggler:hover {
    border: none;
    background-color: rgb(154, 206, 251);
}

.navbar-toggler-icon {
    background-image: url("/img/menu.png");
    max-height: 25px;
}

.navbar-toggler-icon:hover {
    filter:brightness(200%);
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1rem;
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    color: rgb(80, 170, 248);
    margin-right: 3%;
}

.body {
    width: 100%;
}

/* Banner mobile */
@media screen and (max-width: 768px) {
    .banner-princ {
        background-image: url(/img/fondohome.jpg);
        background-attachment: fixed;
        height: 350px;
        padding: 2rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:50% 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }

    .banner-princ__parrafo {
        margin-top: 3%;
        width: 70%;
        font-size: 1rem;
        font-family:"Montserrat", "sans-serif";
        font-weight: 300;
        color:lightslategray;
        line-height: 1.5rem;
        text-align: left;
        margin-top: 0.5rem;
    }

    .banner-princ__titulo  {
        color: rgb(89, 162, 252);
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        font-size: 2.5rem;
    }
}

/* Banner tablet */
@media screen and (min-width: 768px) and (max-width:1024px){
    .banner-princ {
        background-image: url(/img/fondohome.jpg);
        background-attachment: fixed;
        height: 450px;
        padding: 2rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:50% 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    .banner-princ__parrafo {
        margin-top: 3%;
        font-size: 1.3rem;
        font-family: "Montserrat", "sans-serif";
        font-weight: 300;
        color: lightslategray;
        line-height: 1.5rem;
        text-align: left;
        margin-top: 0.5rem;
        width: 50%;
    }

    .banner-princ__titulo {
        color: rgb(89, 162, 252);
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        font-size: 3rem;
    }
}

/* Banner desktop */
@media screen and (min-width:1024px) {
    .banner-princ{
        background-image: url(/img/fondohome.jpg);
        background-attachment: fixed;
        height: 650px;
        padding: 2rem;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    .banner-princ__parrafo {
        margin-top: 3%;
        width: 40%;
        font-size: 1.5rem;
        font-family:"Montserrat", "sans-serif";
        font-weight: 300;
        color:lightslategray;
        line-height: 1.9rem;
        text-align: left;
        margin-top: 0.5rem;
        line-height: 1.6rem;
    }
    .banner-princ__titulo {
        color: rgb(89, 162, 252);
        font-family: "Quicksand", sans-serif;
        font-weight: 600;
        font-size: 3rem;
    }
}

/* Itinerario mobile */
@media screen and (max-width: 768px) {
.itinerario {
    width: 90%;
    margin: auto;
}
    .itinerario__titulo{
        color:rgb(89, 162, 252);
        font-family: "Quicksand", "sans-serif";
        font-weight: 400;
        font-size: 1.8rem;
        text-align: center;
        padding: 1.5rem;
        margin-top: 2%;
    }
    
    .itinerario__contenido {
        margin: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
        padding: 1%, 3%, 1%, 3%;
    }
    
    .itinerario__imagen {
        width: 90%;
        height: 50%;
        object-fit:fill;
        border-radius: 70px;
    }
    
    .itinerario__parrafo{
        font-size: 0.9rem;
        font-family:"Montserrat", "sans-serif";
        font-weight: 300;
        color:lightslategray;
        line-height: 1.5rem;
        margin: 3%;
        text-align: center;

    }
}
/* Itinerario tablet */
@media screen and (min-width: 768px) and (max-width:1024px){
.itinerario {
        width: 80%;
        margin: auto;
}

    .itinerario__contenido {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap:normal;
    }
    
    .itinerario__titulo {
        color: rgb(89, 162, 252);
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 2.2rem;
        text-align: center;
        padding: 3%;
        flex-basis: 50%; 
        flex-shrink: 0; 
        margin-top: 2%;
    }
    
    .itinerario__imagen {
        max-width: 60%;
        flex-shrink: 1; 
        padding: 2%;
        border-radius: 70px;
    }
    
    .itinerario__parrafo {
        font-size: 1rem;
        font-family: "Montserrat", "sans-serif";
        font-weight: 300;
        color: lightslategray;
        line-height: 1.5rem;
        flex-basis: 40%; 
        flex-shrink: 0; 
        padding: 2%;
        align-self: center;
    }
}
/* Itinerario desktop */
@media screen and (min-width:1024px) {
    .itinerario {
        width: 90%;
        margin: auto;
        padding: 2% 5% 2% 5%;
    }

    .itinerario__contenido {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap:normal;
    }
    
    .itinerario__titulo {
        color: rgb(89, 162, 252);
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 2.5rem;
        text-align: center;
        flex-basis: 50%; 
        flex-grow: 2;
        flex-shrink: 0; 
        margin-top: 2%;
    }
    
    .itinerario__imagen  {
        max-width: 50%;
        flex-shrink: 1; 
        padding: 2%;
        border-radius: 70px;
    }
    
    .itinerario__parrafo {
        font-size: 1rem;
        font-family: "Montserrat", "sans-serif";
        font-weight: 300;
        color: lightslategray;
        line-height: 1.5rem;
        flex-basis: 40%; 
        flex-grow: 1;
        flex-shrink: 0; 
        padding: 2%;
        align-self: center;
    }

}

/* Sección Hoteles Mobile*/
@media screen and (max-width: 768px) {
.hoteles {
    width: 100%;
    margin: 5%;
    padding:3% 8% 50% 8%;
    background-color: rgba(232, 232, 232, 0.902);
    border-radius: 40px;
}

.hoteles__encabezado {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: top;
    gap: 2%;
    margin: 0% 4%;
    padding: 2% 5% 2% 5%;
    overflow: auto;
}

.hoteles__encabezado__titulo {
    color: rgb(89, 162, 252);
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 2rem;
        text-align: center;
        flex-basis: 50%; 
        flex-grow: 2;
        flex-shrink: 0; 
        margin-top: 2%;
}

.hoteles__encabezado__subtitulo {
    color: lightslategray;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.hoteles__encabezado__parrafo {
    font-size: 0.9rem;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    text-align: center;
    color: lightslategray;
    line-height: 1.5rem;
    flex-basis: 40%; 
    flex-shrink: 0; 
    padding: 2%;
    align-self: center;
}

.hoteles__destacados  {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4%;
    align-items: flex-start;
    margin-bottom: 8%;
}

.hoteles__destacados__tarjetas {
    background-color: aliceblue;
    width: 100%;
    border-radius: 30px;
    padding: 10%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
}

.hoteles__destacados__tarjetas:hover {
    width: 102%;
    background-color: rgb(217, 233, 247);
}

.hoteles__destacados__imagen {
    width: 100%;
    border-radius: 10%;
}

.hoteles__destacados__titulo {
    font-size: 0.9rem;
    font-family:"Montserrat", "sans-serif";
    font-weight: 400;
    color:rgb(100, 143, 186);
    text-align: center;
    padding-top: 10px;
}

.hoteles__destacados__titulo:hover {
    font-weight: 500;
    color:rgb(46, 114, 182);
}


.hoteles__boton {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color:rgb(233, 255, 255);
    background-color:rgb(157, 201, 255);
    padding: 2% 9%;
    border: none;
    border-radius: 5px;
    margin: 13%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
}
.hoteles__boton:hover {
    font-weight: 600;
    font-size: 1.1rem;
    color:rgb(255, 255, 255);
    background-color:rgb(206, 162, 250);
}

.hoteles__ubicacion {
    width:100%;
    display:flex;
    flex-flow: column nowrap;
    gap: 10%;
    margin-top: 2%;
}

.hoteles__ubicacion__titulo {
    color: lightslategray;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 2%;
}

.hoteles__ubicacion__mapa {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



}
/* Sección Hoteles Tablet*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hoteles {
        width: 90%;
        margin: auto;
        padding:3% 8% 40% 8%;
        background-color: rgba(232, 232, 232, 0.902);
        border-radius: 40px;
}

.hoteles__encabezado {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: top;
    gap: 2%;
    margin: 0% 4%;
    padding: 2% 5% 2% 5%;
    overflow: auto;
}

.hoteles__encabezado__titulo {
    color: rgb(89, 162, 252);
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 2rem;
        text-align: center;
        flex-basis: 50%; 
        flex-grow: 2;
        flex-shrink: 0; 
        margin-top: 2%;
}

.hoteles__encabezado__subtitulo {
    color: lightslategray;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
}

.hoteles__destacados__parrafo {
    font-size: 1.3rem;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    text-align: center;
    color: lightslategray;
    line-height: 1.5rem;
    flex-basis: 40%; 
    flex-shrink: 0; 
    padding: 2%;
    align-self: center;
}

.hoteles__destacados {   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
    align-items: space-between;
    margin-bottom: 5%;
}

.hoteles__destacados__tarjetas {
    background-color: aliceblue;
    width: 100%;
    border-radius: 30px;
    padding: 10%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
}

.hoteles__destacados__tarjetas:hover {
    width: 102%;
    background-color: rgb(217, 233, 247);
}

.hoteles__destacados__imagen {
    width: 100%;
    border-radius: 10%;
}

.hoteles__destacados__titulo {
    font-size: 0.9rem;
    font-family:"Montserrat", "sans-serif";
    font-weight: 400;
    color:rgb(100, 143, 186);
    text-align: center;
    padding-top: 10px;
}

.hoteles__destacados__titulo:hover {
    font-weight: 500;
    color:rgb(46, 114, 182);
}
.hoteles__boton {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color:rgb(233, 255, 255);
    background-color:rgb(157, 201, 255);
    padding: 2% 9%;
    border: none;
    border-radius: 5px;
    margin: 7%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
}
.hoteles__boton:hover {
    font-weight: 600;
    font-size: 1.1rem;
    color:rgb(255, 255, 255);
    background-color:rgb(206, 162, 250);
}

.hoteles__mapa {
    width: 100%;
    display:flex;
    flex-direction: column;
    overflow:auto;
    gap: 10%;
    margin-top: 2%;
}

.hoteles__ubicacion__titulo {
    color: lightslategray;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 2%;
}

.hoteles__ubicacion__mapa {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


}   

/* Sección Hoteles desktop */

@media screen and (min-width:1024px) {    
    .hoteles {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding:3% 8% 30% 8%;
        background-color: rgba(232, 232, 232, 0.902);
        border-radius: 40px;
}

.hoteles__encabezado {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: top;
    gap: 2%;
    margin: 0% 4%;
    padding: 2% 5% 2% 5%;
    overflow: auto;
}

.hoteles__encabezado__titulo {
    color: rgb(89, 162, 252);
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 2.1rem;
        text-align: center;
        flex-basis: 50%; 
        flex-grow: 2;
        flex-shrink: 0; 
        margin-top: 2%;
}

.hoteles__encabezado__subtitulo{
    color: lightslategray;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.7rem;
    text-align: center;
}

.hoteles__encabezado__parrafo {
    font-size: 1.2em;
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    text-align: center;
    color: lightslategray;
    line-height: 2rem;
    flex-basis: 40%; 
    flex-shrink: 0; 
    padding: 2%;
    align-self: center;
}

.hoteles__destacados   { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
    align-items: space-between;
    margin-bottom: 5%;
}

.hoteles__destacados__tarjetas {
    background-color: aliceblue;
    width: 100%;
    border-radius: 30px;
    padding: 10%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.165);
}

.hoteles__destacados__tarjetas:hover {
    width: 102%;
    background-color: rgb(217, 233, 247);
}

.hoteles__destacados__imagen {
    width: 100%;
    border-radius: 10%;
}

.hoteles__destacados__titulo {
    font-size: 0.9rem;
    font-family:"Montserrat", "sans-serif";
    font-weight: 400;
    color:rgb(100, 143, 186);
    text-align: center;
    padding-top: 10px;
}

.hoteles__destacados__titulo:hover {
    font-weight: 500;
    color:rgb(46, 114, 182);
}
.hoteles__boton {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    color:rgb(233, 255, 255);
    background-color:rgb(157, 201, 255);
    padding: 2% 9%;
    border: none;
    border-radius: 5px;
    margin: 7%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
}
.hoteles__boton:hover {
    font-weight: 600;
    font-size: 1.4rem;
    color:rgb(255, 255, 255);
    background-color:rgb(206, 162, 250);
}

.hoteles__mapa {
    width: 100%;
    display:flex;
    flex-direction: column;
    overflow:auto;
    gap: 10%;
    margin-top: 2%;
}

.hoteles__ubicacion__titulo {
    color: lightslategray;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 2%;
}

.hoteles__ubicacion__mapa {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

}   

/* Sección Recordatorios Mobile*/
@media screen and (max-width: 768px) {

.recordatorios {
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: -40%;
}

.recordatorios__ilustracion {
    width: 80%;
    display: flex;
    justify-content: center;
}

.irecordatorios__ilustracion img {
    max-width: 90%;
}

.recordatorios__textos {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;  
    grid-template-rows: 1fr 2fr;  
    margin-top: 4%;
    justify-content: left;
}

.recordatorios__textos__switch {
    grid-column: 1;
    max-width: 70%;
    
}

.recordatorios__textos__titulo {
    grid-column: 2;
    text-align: left;
    margin-left: -4%;
    color: lightslategray;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.2rem;

}

.recordatorios__textos__parrafo {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;;
    text-align: left;
    font-size: 0.8rem;
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    text-align: left;
    color: lightslategray;
    line-height: 1.5rem;
    flex-basis: 40%; 
    flex-shrink: 0; 
}

}

/* Sección Recordatorios Tablet*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .recordatorios {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-flow: row nowrap;
        margin-top: -35%;
        justify-content:center;
    }

    .recordatorios__ilustracion img {
        width: 100%;
        padding: 5%;
    }
    
    .recordatorios__textos {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns:10% 90%;
        justify-items: space-between;
        gap: 5%;
        align-self: center;

}
    .recordatorios__textos__switch {
        display: grid;
        max-width: 30px;
        align-self: center;    
    }
    
    .recordatorios__textos__titulo {
        display: grid;
        text-align: left;
        margin-left: 1%;
        align-self: center; 
        color: lightslategray;
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 1.2rem;   
    }
    
    .recordatorios__textos__parrafo {
        display: grid;
        grid-column: 1 / span 2;;
        text-align: left;
        font-size: 0.9rem;
        font-family: "Montserrat", "sans-serif";
        font-weight: 300;
        text-align: left;
        color: lightslategray;
        line-height: 1.5rem;
        flex-basis: 40%; 
        flex-shrink: 0; 
        padding: 2% 2% 4% 2%;
        align-self: center;
    }
}

/* Sección Recordatorios Desktop*/

@media screen and (min-width:1024px) {    
    .recordatorios {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-flow: row nowrap;
        margin-top: -28%;
        justify-content: center;
        margin-bottom: 8%;
    }

    .recordatorios__ilustracion img{
        width: 100%;
        padding: 5%;
    }
    
    .recordatorios__textos {
        width: 50%;
        margin-right: 5%;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns:10% 90%;
        justify-items: space-between;
        gap: 5%;
        align-self: center;

}
    .recordatorios__textos__switch {
        display: grid;
        max-width: 40px;
        align-self: center;    
    }
    
    .recordatorios__textos__titulo  {
        display: grid;
        text-align: left;
        margin-left: 1%;
        align-self: center; 
        color: lightslategray;
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 1.2rem;   
    }
    
    .recordatorios__textos__parrafo {
        display: grid;
        grid-column: 1 / span 2;;
        font-size: 1.1rem;
        font-family: "Montserrat", "sans-serif";
        font-weight: 300;
        text-align: left;
        color: lightslategray;
        line-height: 1.5rem;
        flex-basis: 40%; 
        flex-shrink: 0; 
        padding: 2% 20% 4% 2%;
        align-self: center;
    }
    }


/* Sección Reseñas Mobile*/
@media screen and (max-width: 768px) {
    
    .reseñas__titulo {
        color: rgb(89, 162, 252);
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 1.3rem;
        text-align: center;
        flex-basis: 50%; 
        flex-grow: 2;
        flex-shrink: 0; 
        margin-top: 8%;
    }

    .reseñas__reseñas__divisor {
        height: 10px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8b8b inset; 
    }

    .reseñas__tarjetas {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items:center;
        column-gap: 2%;
    }

.reseñas__tarjetas__contenedor {
    width: 80%;
    margin-bottom: 10%;
    background-color: rgb(247, 247, 247);
    border-radius: 30px;
    padding: 5%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: auto;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.167);
    align-self: center;
}

.reseñas__tarjetas__imagen {
    border-radius: 50px;
    max-width: 50px;
    height: 50px;
    object-fit: cover;
    grid-row: span 2;
}

.reseñas__tarjetas__user-name  {
    color:rgb(100, 143, 186);
    font-family: "Quicksand", "sans-serif";
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    align-self: center;
    grid-column: 2;
    padding-left:2%;

}

.reseñas__tarjetas__user-country {
    color:rgb(59, 61, 63);
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 0.8rem;
    text-align: left;
    grid-column: 2;
    padding-left: 2%;
}

.reseñas__tarjetas__imgreseña {
    padding: 5% 0%;
    border-radius: 10px;
    width:100%;
    border-radius: 15%;
    object-fit: cover;
    grid-column: span 2;
    
}

.reseñas__tarjetas__user-opinion{
    grid-column: span 2;
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    color: lightslategray;

}

.reseñas__tarjetas__estrellas {
    grid-column: span 2;
    width: 50%;
    justify-self: center;  
}
}

/* Sección Reseñas Tablet*/
@media screen and (min-width: 768px) {

    .reseñas__titulo {
        color: rgb(89, 162, 252);
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 1.3rem;
        text-align: center;
        flex-basis: 50%; 
        flex-grow: 2;
        flex-shrink: 0; 
        margin-top: 2%;
    }
    
    .reseñas__tarjetas  {
        width: 90%;
        margin-top: 8%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
    }

.reseñas__divisor {
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
    
}

.reseñas__tarjetas__contenedor {
    width: 80%;
    margin-bottom: 20%;
    background-color: rgb(247, 247, 247);
    border-radius: 30px;
    padding: 5%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: auto;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
    align-self: center;
}

.reseñas__tarjetas__imagen {
    border-radius: 50px;
    max-width: 40px;
    height: 40px;
    object-fit: cover;
    grid-row: span 2;
}

.reseñas__tarjetas__user-name  {
    color:rgb(100, 143, 186);
    font-family: "Quicksand", "sans-serif";
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    align-self: center;
    grid-column: 2;
    padding-left: 10%;
}

.reseñas__tarjetas__user-country {
    color:rgb(59, 61, 63);
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 0.8rem;
    text-align: left;
    grid-column: 2;
    padding-left: 10%;

}

.reseñas__tarjetas__imgreseña {
    padding: 5% 0%;
    border-radius: 10px;
    width:100%;
    border-radius: 15%;
    object-fit: fill;
    grid-column: span 2;
}

.reseñas__tarjetas__user-opinion{
    grid-column: span 2;
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    color: lightslategray;

}

.reseñas__tarjetas__estrellas {
    grid-column: span 2;
    width: 50%;
    justify-self: center;  
}

}



/* Sección Reseñas Desktop*/
@media screen and (min-width: 1024px) {
    
    .reseñas__tarjetas  {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        justify-content: space-between;
        align-items: center;
    }

.reseñas__divisor {
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
    
}

.reseñas__tarjetas__contenedor {
    width: 80%;
    margin-bottom: 20%;
    background-color: rgb(247, 247, 247);
    border-radius: 30px;
    padding: 5%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: auto;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
    align-self: center;
}

.reseñas__tarjetas__imagen {
    border-radius: 50px;
    max-width: 40px;
    height: 40px;
    object-fit: cover;
    grid-row: span 2;
}

.reseñas__tarjetas__user-name  {
    color:rgb(100, 143, 186);
    font-family: "Quicksand", "sans-serif";
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    align-self: center;
    grid-column: 2;
    padding-left: 10%;
}

.reseñas__tarjetas__user-country {
    color:rgb(59, 61, 63);
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 0.8rem;
    text-align: left;
    grid-column: 2;
    padding-left: 10%;

}

.reseñas__tarjetas__imgreseña {
    padding: 5% 0%;
    border-radius: 10px;
    width:100%;
    border-radius: 15%;
    object-fit: fill;
    grid-column: span 2;
}

.reseñas__tarjetas__user-opinion{
    grid-column: span 2;
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    color: lightslategray;

}

.reseñas__tarjetas__estrellas {
    grid-column: span 2;
    width: 50%;
    justify-self: center;  
}

}

/* Sección Footer Mobile*/
@media screen and (max-width: 768px) {

.footer {
    width: 100%;
    background-color: rgb(51, 51, 51);
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.footer__titulos {
    font-family: "Quicksand";
    font-size: 1.1rem;
    color: rgb(89, 162, 252);
    font-weight: 500;
    text-align: center;
}

.footer__textos {
    color: rgb(212, 255, 255);
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
}

.footer__rrss {
    grid-column:span 2;
    width: 100%;

}

.footer__iconos-rrss {
    grid-column:span 2;
    display: flex;
    justify-content: center;
}

.footer__suscriptores {
    width: 90%;
    grid-column:span 2;
    margin-left: auto;
    margin-right: auto;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    padding: 2%;
    border-radius: 5px;
}

.footer__formsuscripcion {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(3 1fr);
    gap: 2%;
}

.footer__formsuscripcion__email {
    grid-column: span 2;
    font-size: 0.9rem;
    padding: 2%;
}

.footer__formsuscripcion__checkbox {
    width: 50%;
justify-content: center;
}

.footer__formsuscripcion__acuerdo {
    color: aliceblue;
    font-family: "Quicksand", "sans-serif";
    font-weight: 400;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.2rem;
    margin-top: 3%;
}

.footer__formsuscripcion__boton {
    grid-column: span 2;
    font-family: "Quicksand", "sans-serif";
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color:rgb(212, 255, 255);
    background-color:rgb(89, 162, 252);
    padding: 2%;
    border-radius: 5px;
    margin: 0%;
}

.footer__index {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer__index__menu li a{
    color: aliceblue;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 0.9rem;
    text-align: left;
}

.footer__index__menu li a:hover{
    color: rgb(157, 207, 252);
    font-size: 1rem;
}

.footer__terms {
    color: aliceblue;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 0.9rem;
    text-align: left;  
    padding: 0%;
}

.footer__siteinfo {
    grid-column:span 2;
    background-color: rgb(89, 162, 252);
    padding: 2% 6%;
    font-family: "Quicksand";
    color:  rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    font-size: 1.1rem;
}

.footer__siteinfo a {
    color:  rgb(255, 255, 255);
    font-weight: 400;
    font-style: italic;
}

.footer__siteinfo a:hover {
    color:rgb(167, 214, 255);
    font-weight: 400;
    font-style: italic;
}
}

/* Sección Reseñas Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .footer {
        width: 100%;
        background-color: rgb(51, 51, 51);
        padding-top: 5%;
        padding-bottom: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        justify-content: space-between;
        align-items: center;
        gap: 2%;
    }
    
    .footer__titulos {
        font-family: "Quicksand";
        font-size: 1.1rem;
        color: rgb(89, 162, 252);
        font-weight: 500;
        text-align: center;
    }
    
    .footer__textos {
        color: rgb(212, 255, 255);
        font-weight: 300;
        font-size: 0.8rem;
        text-align: center;
    }
    
    .footer__rrss {
        grid-column:span 2;
        width: 100%;
    
    }
    
    .footer__iconos-rrss {
        grid-column:span 2;
        display: flex;
        justify-content: center;
    }
    
    .footer__suscriptores {
        width: 90%;
        grid-column:span 2;
        margin-left: auto;
        margin-right: auto;
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 1rem;
        text-align: left;
        padding: 2%;
        border-radius: 5px;
    }
    
    .footer__formsuscripcion {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: repeat(3 1fr);
        gap: 2%;
    }
    
    .footer__formsuscripcion__email {
        grid-column: span 2;
        font-size: 0.9rem;
        padding: 2%;
    }
    
    .footer__formsuscripcion__checkbox {
        width: 50%;
    justify-content: center;
    }
    
    .footer__formsuscripcion__acuerdo {
        color: aliceblue;
        font-family: "Quicksand", "sans-serif";
        font-weight: 400;
        font-size: 0.8rem;
        text-align: left;
        line-height: 1.2rem;
        margin-top: 3%;
    }
    
    .footer__formsuscripcion__boton {
        grid-column: span 2;
        font-family: "Quicksand", "sans-serif";
        font-weight: 600;
        font-size: 1rem;
        text-align: center;
        color:rgb(212, 255, 255);
        background-color:rgb(89, 162, 252);
        padding: 2%;
        border-radius: 5px;
    }
    
    .footer__index {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__index__menu li a{
        color: aliceblue;
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 0.9rem;
        text-align: left;
    }
    
    .footer__index__menu li a:hover{
        color: rgb(157, 207, 252);
        font-size: 1rem;
    }
    
    .footer__terms {
        color: aliceblue;
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 0.9rem;
        text-align: left;
        padding: 0%;
    }
    
    .footer__siteinfo {
        grid-column:span 2;
        background-color: rgb(89, 162, 252);
        padding: 2% 6%;
        font-family: "Quicksand";
        color:  rgb(255, 255, 255);
        font-weight: 400;
        text-align: center;
        font-size: 1.1rem;
    }
    
    .footer__siteinfo a {
        color:  rgb(255, 255, 255);
        font-weight: 400;
        font-style: italic;
    }
    
    .footer__siteinfo a:hover {
        color:rgb(193, 226, 255);
        font-weight: 400;
        font-style: italic;
    }
    }

    /* Sección Footer Desktop*/
@media screen and (min-width: 1024px) {

    .footer{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(51, 51, 51);
        width: 100%;
        display: grid;
        grid-template-columns: 20% 50% 15% 15%;
        grid-template-rows: auto;
        justify-content: left;
        align-items: top;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .footer__titulos {
        font-family: "Quicksand";
        font-size: 1.1rem;
        color: rgb(89, 162, 252);
        font-weight: 500;
        text-align: center;
    }
    
    .footer__textos {
        color: rgb(212, 255, 255);
        font-weight: 300;
        font-size: 0.8rem;
        text-align: center;
    }
    
    .footer__rrss {
        width: 100%;
    }
    
    .footer__iconos-rrss {
        display: flex;
        justify-content: center;
    }
    
    .footer__suscriptores {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 1rem;
        text-align: left;
        border-radius: 5px;
        padding: 0% 2% 2% 2%;
    }
    
    .footer__formsuscripcion {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: repeat(3 1fr);
        gap: 2%;
    }
    
    .footer__formsuscripcion__email {
        grid-column: span 2;
        font-size: 0.9rem;
        padding: 2%;
    }
    
    .footer__formsuscripcion__checkbox {
        width: 50%;
    justify-content: center;
    }
    
    .footer__formsuscripcion__acuerdo {
        color: aliceblue;
        font-family: "Quicksand", "sans-serif";
        font-weight: 400;
        font-size: 0.8rem;
        text-align: left;
        line-height: 1.2rem;
        margin-top: 3%;
    }
    
    .footer__formsuscripcion__boton {
        grid-column: span 2;
        font-family: "Quicksand", "sans-serif";
        font-weight: 600;
        font-size: 1rem;
        text-align: center;
        color:rgb(212, 255, 255);
        background-color:rgb(89, 162, 252);
        padding: 2%;
        border-radius: 5px;
    }
    
    .footer__index {
        display: flex;
        flex-direction: row;
    }

    .footer__index__menu li a{
        color: aliceblue;
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 0.9rem;
        text-align: left;
    }
    
    .footer__index__menu li a:hover{
        color: rgb(157, 207, 252);
        font-size: 1rem;
    }
    
    .footer__terms {
        color: aliceblue;
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 0.9rem;
        text-align: left;
        padding: 0%;
    }
    
    .footer__siteinfo {
        grid-column:span 2;
        background-color: rgb(89, 162, 252);
        padding: 2% 6%;
        font-family: "Quicksand";
        color:  rgb(255, 255, 255);
        font-weight: 600;
        text-align: center;
        font-size: 1.1rem;
    }
    
    .footer__siteinfo a {
        color:  rgb(255, 255, 255);
        font-weight: 600;
        font-style: italic;
    }
    
    .footer__siteinfo a:hover {
        color:#afdaff;
        font-weight: 600;
        font-style: italic;
    }
    }




/* Explorar Mobile*/
@media screen and (max-width: 768px){

/* Explorar Mobile Sección Banner*/

.banner-princ__titulo--pages  {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4.7rem;
    text-align: center;
    margin-top: 30%;
}

.banner-princ__parrafo--pages {
    width: 70%;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.9rem;
    font-family:"Montserrat", "sans-serif";
    font-weight: 400;
    color:lightslategray;
    line-height: 1.5rem;
    text-align: center;
}

.banner-princ--explorar {
    background-image: url(/img/banner-explora.jpg);
    background-attachment: fixed;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100% 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-bottom: 5%;
}

/* Explorar Mobile Sección Buscador*/

.explorar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: auto;
    padding:3% 8% 10% 8%;
    background-color: rgba(232, 232, 232, 0.902);
    border-radius: 40px;
    gap: 3%;
}

.explorar__ciudad {
    font-size: 0.7rem;
    padding: 2%;
    width: 100%;
    font-family: "Montserrat" sans-serif;
    border-radius: 10px;
    border-style: solid 1px grey;
}

.explorar__fecha {
    font-size: 0.7rem;
    padding: 2%;
    width: 100%;
    font-family: "Montserrat" sans-serif;
    border-radius: 10px;
    border-style: solid 1px grey;
}
.explorar__opciones {
    font-size: 0.7rem;
    padding: 2%;
    width: 100%;
    font-family: "Montserrat" sans-serif;
    border-radius: 10px;
    border-style: solid 1px grey;
    grid-column: span 2;
}

.hoteles__ubicacion__mapa--explorar {
    grid-column: span 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

/* Explorar Mobile Sección Destacados*/

.lugares {
    width: 100%;
    padding:3% 8% 20% 8%;
    border-radius: 40px;
}

.lugares__destacados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4%;
    align-items: flex-start;
    margin-bottom: 8%;
}


.lugares__encabezado__titulo {
    color: rgb(89, 162, 252);
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    flex-basis: 50%; 
    flex-grow: 2;
    flex-shrink: 0; 
    margin-top: 5%;
    margin-bottom: 5%;
}

.lugares__destacados__tarjetas {
    background-color: aliceblue;
    width: 100%;
    border-radius: 30px;
    padding: 10%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
}

.lugares__destacados__tarjetas:hover {
    width: 102%;
    background-color: rgb(217, 233, 247);
}

.lugares__destacados__imagen {
    width: 100%;
    border-radius: 10%;
}

.lugares__destacados__titulo {
    font-size: 0.9rem;
    font-family:"Montserrat", "sans-serif";
    font-weight: 400;
    color:rgb(100, 143, 186);
    text-align: center;
    padding-top: 10px;
}

.lugares__destacados__titulo:hover {
    font-weight: 500;
    color:rgb(46, 114, 182);
}

.lugares__destacados__parrafo {
    font-size: 0.9rem;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    text-align: center;
    color: lightslategray;
    line-height: 1.5rem;
    flex-basis: 40%; 
    flex-shrink: 0; 
    padding: 2%;
    align-self: center;
}

.lugares__boton {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color:rgb(233, 255, 255);
    background-color:rgb(157, 201, 255);
    padding: 2% 9%;
    border: none;
    border-radius: 5px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
}

.lugares__boton:hover {
    font-weight: 600;
    font-size: 1rem;
    color:rgb(255, 255, 255);
    background-color:rgb(206, 162, 250);
}

/* Sección Registro Mobile*/
    .registro {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;   
        margin-top: 10%;
    }
    
    .registro__ilustracion {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    
    .registro__ilustracion img {
        width: 60%;
    }
    
    .registro__textos {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 5fr;  
        grid-template-rows: 1fr 2fr;  
        margin-top: 4%;
        justify-content: left;
        background-color: #dddddd;
        padding: 10%;
        border-radius: 50px;
    }
    
    
    .registro__textos__titulo {
        grid-column: span 2;
        text-align: left;
        color: lightslategray;
        font-family: "Quicksand", "sans-serif";
        font-weight: 500;
        font-size: 1.2rem;
    
    }
    
    .registro__textos__parrafo {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;;
        text-align: left;
        font-size: 0.8rem;
        font-family: "Montserrat", "sans-serif";
        font-weight: 400;
        text-align: left;
        color: lightslategray;
        line-height: 1.5rem;
        flex-basis: 40%; 
        flex-shrink: 0; 
    }

    .footer__formsuscripcion__acuerdo--explorar {
    color: rgb(98, 100, 103);
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.2rem;
    margin-top: 3%;
    }

    .footer__formsuscripcion__checkbox--explorar {
        width: 40%;
    }

}

/* Explorar Tablet*/
@media screen and (min-width:768px) and (max-width:1024px) {
.banner-princ__titulo--pages  {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4.7rem;
    text-align: center;
    margin-top: 20%;
}
.banner-princ__parrafo--pages {
    width: 70%;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
    font-family:"Montserrat", "sans-serif";
    font-weight: 300;
    color:lightslategray;
    line-height: 1.5rem;
    text-align: center;
}

.banner-princ--explorar {
    background-image: url(/img/banner-explora.jpg);
    background-attachment: fixed;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50% 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-bottom: 5%;
}

/* Explorar Tablet Sección Buscador*/

.explorar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: auto;
    padding:3% 8% 10% 8%;
    background-color: rgba(232, 232, 232, 0.902);
    border-radius: 40px;
    gap: 3%;
}

.explorar__ciudad {
    font-size: 0.9rem;
    padding: 2%;
    width: 100%;
    font-family: "Montserrat" sans-serif;
    border-radius: 10px;
    border-style: solid 1px grey;
}

.explorar__fecha {
    font-size: 0.9rem;
    padding: 2%;
    width: 100%;
    font-family: "Montserrat" sans-serif;
    border-radius: 10px;
    border-style: solid 1px grey;
}
.explorar__opciones {
    font-size: 0.9rem;
    padding: 2%;
    width: 100%;
    font-family: "Montserrat" sans-serif;
    border-radius: 10px;
    border-style: solid 1px grey;
    grid-column: span 2;
}

.hoteles__ubicacion__mapa--explorar {
    grid-column: span 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

/* Explorar Tablet Sección Destacados*/

.lugares {
    width: 100%;
    padding:3% 8% 3% 8%;
    border-radius: 40px;
}

.lugares__destacados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4%;
    align-items: flex-start;
    margin-bottom: 8%;
}


.lugares__encabezado__titulo {
    color: rgb(89, 162, 252);
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 2.2rem;
    text-align: center;
    flex-basis: 50%; 
    flex-grow: 2;
    flex-shrink: 0; 
    margin-top: 5%;
    margin-bottom: 5%;
}

.lugares__destacados__tarjetas {
    background-color: aliceblue;
    width: 100%;
    border-radius: 30px;
    padding: 10%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
}

.lugares__destacados__tarjetas:hover {
    width: 102%;
    background-color: rgb(217, 233, 247);
}

.lugares__destacados__imagen {
    width: 100%;
    border-radius: 10%;
}

.lugares__destacados__titulo {
    font-size: 0.9rem;
    font-family:"Montserrat", "sans-serif";
    font-weight: 400;
    color:rgb(100, 143, 186);
    text-align: center;
    padding-top: 10px;
}

.lugares__destacados__titulo:hover {
    font-weight: 500;
    color:rgb(46, 114, 182);
}

.lugares__destacados__parrafo {
    font-size: 0.9rem;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    text-align: center;
    color: lightslategray;
    line-height: 1.5rem;
    flex-basis: 40%; 
    flex-shrink: 0; 
    padding: 2%;
    align-self: center;
}

.lugares__boton {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color:rgb(233, 255, 255);
    background-color:rgb(157, 201, 255);
    padding: 1%;
    border: none;
    border-radius: 5px;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
}

.lugares__boton:hover {
    font-weight: 600;
    font-size: 1.3rem;
    color:rgb(255, 255, 255);
    background-color:rgb(206, 162, 250);
}

/* Sección Registro Tablet*/
.registro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 10%;
}

.registro__ilustracion {
    width: 80%;
    display: flex;
    justify-content: center;
}

.registro__ilustracion img {
    width: 70%;
}

.registro__textos {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 5fr;  
    grid-template-rows: 1fr 2fr;  
    margin-top: 4%;
    justify-content: left;
    background-color: #dddddd;
    padding: 10%;
    border-radius: 50px;
}


.registro__textos__titulo {
    grid-column: span 2;
    text-align: left;
    color: lightslategray;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.2rem;

}

.registro__textos__parrafo {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;;
    text-align: left;
    font-size: 0.8rem;
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    text-align: left;
    color: lightslategray;
    line-height: 1.5rem;
    flex-basis: 40%; 
    flex-shrink: 0; 
}

.footer__formsuscripcion__acuerdo--explorar {
color: rgb(98, 100, 103);
font-family: "Quicksand", "sans-serif";
font-weight: 500;
font-size: 0.8rem;
text-align: left;
line-height: 1.2rem;
margin-top: 3%;
}

.footer__formsuscripcion__checkbox--explorar {
    width: 40%;
}


}

/* Explorar Desktop*/
@media screen and (min-width:1024px) {
.banner-princ__titulo--pages  {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4.7rem;
    text-align: center;
    margin-top: 10%;
}
.banner-princ__parrafo--pages {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
    font-family:"Montserrat", "sans-serif";
    font-weight: 300;
    color:lightslategray;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 2%;
}

.banner-princ--explorar {
    background-image: url(/img/banner-explora.jpg);
    background-attachment: fixed;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50% 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-bottom: 2%;
}


/* Explorar Desktop Sección Buscador*/

.explorar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: auto;
    padding:3% 8% 10% 8%;
    background-color: rgba(232, 232, 232, 0.902);
    border-radius: 40px;
    gap: 3%;
}

.explorar__ciudad {
    font-size: 0.9rem;
    padding: 2%;
    width: 100%;
    font-family: "Montserrat" sans-serif;
    border-radius: 10px;
    border-style: solid 1px grey;
}

.explorar__fecha {
    font-size: 0.9rem;
    padding: 2%;
    width: 100%;
    font-family: "Montserrat" sans-serif;
    border-radius: 10px;
    border-style: solid 1px grey;
}
.explorar__opciones {
    font-size: 0.9rem;
    padding: 2%;
    width: 100%;
    font-family: "Montserrat" sans-serif;
    border-radius: 10px;
    border-style: solid 1px grey;
    grid-column: span 2;
}

.hoteles__ubicacion__mapa--explorar {
    grid-column: span 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

/* Explorar Desktop Sección Destacados*/

.lugares {
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    padding:3% 8% 3% 8%;
    border-radius: 40px;
}

.lugares__destacados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4%;
    align-items: flex-start;
    margin-bottom: 8%;
}


.lugares__encabezado__titulo {
    color: rgb(89, 162, 252);
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 2.2rem;
    text-align: center;
    flex-basis: 50%; 
    flex-grow: 2;
    flex-shrink: 0; 
    margin-top: 5%;

}

.lugares__destacados__tarjetas {
    background-color: aliceblue;
    width: 100%;
    border-radius: 30px;
    padding: 10%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
}

.lugares__destacados__tarjetas:hover {
    width: 102%;
    background-color: rgb(217, 233, 247);
}

.lugares__destacados__imagen {
    width: 100%;
    border-radius: 10%;
}

.lugares__destacados__titulo {
    font-size: 0.9rem;
    font-family:"Montserrat", "sans-serif";
    font-weight: 400;
    color:rgb(100, 143, 186);
    text-align: center;
    padding-top: 10px;
}

.lugares__destacados__titulo:hover {
    font-weight: 500;
    color:rgb(46, 114, 182);
}

.lugares__destacados__parrafo {
    font-size: 0.9rem;
    font-family: "Montserrat", "sans-serif";
    font-weight: 300;
    text-align: center;
    color: lightslategray;
    line-height: 1.5rem;
    flex-basis: 40%; 
    flex-shrink: 0; 
    padding: 2%;
    align-self: center;
}

.lugares__boton {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color:rgb(233, 255, 255);
    background-color:rgb(157, 201, 255);
    padding: 1%;
    border: none;
    border-radius: 5px;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.065);
}

.lugares__boton:hover {
    font-weight: 600;
    font-size: 1.3rem;
    color:rgb(255, 255, 255);
    background-color:rgb(206, 162, 250);
}

/* Sección Registro Desktop*/
.registro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;   
    margin-top: 10%;
}

.registro__ilustracion {
    width: 100%;
    display: flex;
    justify-content: center;
}

.registro__ilustracion img {
    width: 90%;
}

.registro__textos {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 5fr;  
    grid-template-rows: 1fr 2fr;  
    margin-top: 4%;
    justify-content: left;
    background-color: #dddddd;
    padding: 10%;
    border-radius: 50px;
}


.registro__textos__titulo {
    grid-column: span 2;
    text-align: left;
    color: lightslategray;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    font-size: 1.2rem;

}

.registro__textos__parrafo {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;;
    text-align: left;
    font-size: 0.8rem;
    font-family: "Montserrat", "sans-serif";
    font-weight: 400;
    text-align: left;
    color: lightslategray;
    line-height: 1.5rem;
    flex-basis: 40%; 
    flex-shrink: 0; 
}

.footer__formsuscripcion__acuerdo--explorar {
color: rgb(98, 100, 103);
font-family: "Quicksand", "sans-serif";
font-weight: 500;
font-size: 0.8rem;
text-align: left;
line-height: 1.2rem;
margin-top: 3%;
}

.footer__formsuscripcion__checkbox--explorar {
    width: 40%;
}



}