    .footer {
        width: 100%;
        background-color: rgb(54, 54, 54);
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        justify-content: space-between;
        align-items: center;
        gap: 2%;
        align-items: start;


        &__titulos {
            font-family: "Quicksand";
            font-size: 1.1rem;
            color: rgb(89, 162, 252);
            font-weight: 500;
            text-align: center;
        }

        &__textos {
            color: rgb(212, 255, 255);
            font-weight: 300;
            font-size: 0.8rem;
            text-align: center;
        }

        &__rrss {
            grid-column: span 2;
            width: 100%;

        }

        &__iconos-rrss {
            grid-column: span 2;
            display: flex;
            justify-content: center;
        }

        &__suscriptores {
            width: 90%;
            grid-column: span 2;
            margin-left: auto;
            margin-right: auto;
            font-family: "Quicksand", "sans-serif";
            font-weight: 500;
            font-size: 1rem;
            text-align: left;
            border-radius: 5px;
        }


        &__formsuscripcion {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 10% 90%;
            grid-template-rows: repeat(3 1fr);
            gap: 2%;
            margin-bottom: 5%;



            &__email {
                grid-column: span 2;
                font-size: 0.9rem;
                padding: 2%;
            }

            &__checkbox {
                width: 50%;
                justify-content: center;
            }

            &__acuerdo {
                color: aliceblue;
                font-family: "Quicksand", "sans-serif";
                font-weight: 500;
                font-size: 0.8rem;
                text-align: left;
                line-height: 1.2rem;
                margin-top: 3%;
            }

            &__boton {
                grid-column: span 2;
                font-family: "Quicksand", "sans-serif";
                font-weight: 600;
                font-size: 1rem;
                text-align: center;
                color: rgb(212, 255, 255);
                background-color: rgb(89, 162, 252);
                padding: 2%;
                border-radius: 5px;
                margin: 0%;
            }
        }

        &__index {
            display: flex;
            flex-direction: row;
            @include centrar-elemento;
            justify-content: center;

        }



        &__menu li a {
            color: aliceblue;
            font-family: $ff-titulos;
            font-weight: 500;
            font-size: 0.9rem;
            text-align: center;


            &:hover {
                color: rgb(157, 207, 252);
                font-size: 1rem;
            }

        }

        &__terms {
            color: aliceblue;
            font-family: "Quicksand", "sans-serif";
            font-weight: 500;
            font-size: 0.9rem;
            text-align: left;
            padding: 0%;
        }

        &__siteinfo {
            grid-column: span 2;
            background-color: rgb(89, 162, 252);
            padding: 2% 6%;
            font-family: "Quicksand";
            color: rgb(255, 255, 255);
            font-weight: 600;
            text-align: center;
            font-size: 0.9rem;
        }

        &__siteinfo a {
            color: rgb(255, 255, 255);
            font-weight: 400;
            font-style: italic;

            &:hover {
                color: $c-princ;
                font-weight: 600;
                font-style: none;
                text-transform: uppercase;
            }
        }
    }



    /*  Footer Desktop*/
    @media screen and (min-width: 1024px) {

        .footer {
            display: grid;
            grid-template-columns: 30% 40% 10% 10% 10%;
            grid-template-rows: auto;
            justify-content: left;
            align-items: top;
            padding-top: 5%;
            padding-bottom: 5%;
            align-items: start;

            &__rrss {
                align-items: top;
                width: 100%;
                grid-column: 1;
            }

            &__suscriptores {
                width: 100%;
                grid-column: 2;
            }

            &__formsuscripcion {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                display: grid;
                grid-template-columns: 10% 90%;
                grid-template-rows: repeat(3 1fr);
                gap: 2%;
            

            &__email {
                grid-column: span 2;
                font-size: 0.9rem;
                padding: 2%;
         }

            &__checkbox {
                width: 40%;
                justify-content: center;
            }

            &__index {
                display: flex;
                flex-direction: row;
            }

        }
    }
 }