/* Header */

.bg-body-tertiary {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    }

    .logo{
        min-width: 110px;
        max-width: 260px;
    }

    .navbar .navbar-expand-lg .bg-body-tertiary {
        justify-content: space-between;
    }